<div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Main Menu -->
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <!-- Site Name -->
        <h1 class="h3 text-muted">DevOps-COE</h1>

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Work</a></li>
          <li class="active">Team</li>
        </ol>

      </header>

      <div class="page-heading">

        <!-- Page Heading -->
        <h1>Welcome to COE!</h1>

      </div>

      <div class="row">

        <div class="col-sm-3">

          <!-- Sub Navigation -->
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Level 2</a></li>
            <li class="active"><a href="#">Level 2</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>

        </div>

        <div class="col-sm-6">

          <div class="page-contents">

            <!-- Design Body -->
            <h2>Work</h2>
            <p>In devops COE we deal with problem statements and try to resolve it which is similar to rel life project scenarios</p>
            <h3>Team</h3>
            <p>Aditi, Abhishek, Kalyan, Pavan, Bhaskar, Shyam</p>
          </div>

        </div>

        <div class="col-sm-3">

          <!-- Login Section -->
          <h2>Login</h2>

          <!-- Search Section -->
          <h2>Search</h2>

          <!-- Nested Right Column Content -->

        </div>

      </div>

      <footer class="footer">
        <p class="pull-right">
          <!-- Last Updated Design Area-->
          Last Updated: Thursday, March 2020
        </p>
        <p>&copy; 2020 Mindtree, Ltd.</p>
      </footer>

    </div> <!-- /container -->
